<mat-card>
  <mat-card-header>
    <mat-card-title>Statistics</mat-card-title>
  </mat-card-header>
  <mat-card-content class="block">
    <div
      *ngIf="(playerMatchHistory.length < initialPageSize)">
      <mat-spinner color="accent" class="loading-spinner"></mat-spinner>
    </div>
    <div *ngIf="playerMatchHistory.length >= initialPageSize" style="display:block;">
      <span class="mat-subheading-2">Wave 1 Tendency (last {{initialPageSize}} matches)</span>
      <app-bar
        [data]="firstWaveTendencyData()"></app-bar>
      <span class="mat-subheading-2">Legion picks (last {{initialPageSize}} matches)</span>
      <app-bar [data]="playerStatisticsService.getLegionPicks(playerMatchHistory, playerId, initialPageSize)"></app-bar>
    </div>
  </mat-card-content>
</mat-card>
