.logo {
  width: 250px;
  cursor: pointer;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
}

.nav-links {
  margin-left: 96px;
  margin-top: 4px;
}

.nav-links * {
  margin-right: 32px;
  font-size: 1.3rem;
  cursor: pointer;
}
