.content {
  width: 1380px;
  margin: 64px auto auto;
}

::ng-deep .mat-ink-bar {
  background-color: white !important;
}

.mat-divider:last-child {
  display: none;
}

.recent-games {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.no-matches {
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: center;
}

.loading-spinner {
  margin-top: 32px;
  margin-bottom: 32px;
}

.block {
  display: block;
}
