<section class="section__statistics">
  <mat-card class="no-padding">
    <mat-card-content>
      <mat-tab-group mat-stretch-tabs [dynamicHeight]='true'>
        <mat-tab label="UNITS">
          <section class="section__statistics-units">
            <app-statistics-filter></app-statistics-filter>
            <div class="table-container">
              <app-statistics-units></app-statistics-units>
            </div>
          </section>
        </mat-tab>
        <mat-tab label="OPENINGS">
          <section class="section__statistics-openings">
            <app-statistics-filter></app-statistics-filter>
            <div class="table-container">
              <app-statistics-opening></app-statistics-opening>
            </div>
          </section>
        </mat-tab>
        <mat-tab label="WAVES">
          <section class="section__statistics-waves">
            <app-statistics-filter></app-statistics-filter>
            <div class="table-container">
              <app-statistics-waves></app-statistics-waves>
            </div>
          </section>
        </mat-tab>
        <mat-tab label="LEGIONS">
          <section class="section__statistics-legions">
            <app-statistics-filter></app-statistics-filter>
            <div class="table-container">
              <app-statistics-legions></app-statistics-legions>
            </div>
          </section>
        </mat-tab>
        <mat-tab label="LEGION SPELLS">
          <section class="section__statistics-legion-spells">
            <app-statistics-filter></app-statistics-filter>
            <div class="table-container">
              <app-statistics-legion-spells></app-statistics-legion-spells>
            </div>
          </section>
        </mat-tab>
      </mat-tab-group>
      <div class="games-count-wrapper">
        <span class="mat-subheading-2">{{gamesCount}} matches analyzed</span>
      </div>
    </mat-card-content>
  </mat-card>
</section>
