.mat-table {
  width: 100%;
}

.progress-bar-container {
  margin-right: 16px;
}

td {
  height: 96px;
}

.section__unit-information {
  display: flex;
  align-items: center;
}

.unit-icon {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 10px;
}

.attack-mode {
  opacity: .67;
}


.spinner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}
