.icon-small {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  top: 2px;
}

.icon-mercenary {
  width: 32px;
  height: 32px;
}

.wave-list {
  margin-top: 32px;
  width: 99%;
}

.mat-chip {
  background: #4a3970;
  cursor: pointer;
}

.mat-chip.selected {
  background: #797298;
}

.mat-standard-chip:focus::after {
  opacity: 0;
}
.text-mercenaries-received {
  margin-bottom: 0;
  display: block;
}

.text-center {
  text-align: center;
}

.margin-right {
  margin-right: 16px;
}

.margin-bottom {
  margin-bottom: 8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

$num-articles: 12; /* Set number of articles here (need to update markup accordingly) */
$num-cols: 4;  /* Set number of required columns here */
$components: span section app-game-build div article;

.grid-container {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat($num-cols, 1fr);
}

.grid-content {
  display: contents;
}

@for $i from 1 through length($components) {
  @for $j from 1 through $num-articles {
    .grid-content:nth-child(#{$j}) #{nth($components, $i)} {
      grid-row: $i + length($components) * floor(($j - 1) / $num-cols);
      grid-column: 1 + ($j - 1) % $num-cols;
    }
  }
}


.name {
  margin-top: 32px;
}

article {
  margin-bottom: 32px;
}
