<section class="section__statistics-filter">
    <div class="filter-container">
      <button mat-stroked-button [matMenuTriggerFor]="menuPatch">PATCH {{statisticsFilterService.$selectedPatch | async}}</button>
      <mat-menu #menuPatch="matMenu" backdropClass="customize">
        <button mat-menu-item *ngFor="let patch of patches" (click)="statisticsFilterService.selectedPatch = patch.patch">{{patch.patch}}</button>
      </mat-menu>
      <button mat-stroked-button [matMenuTriggerFor]="menuGametype">RANKED</button>
      <mat-menu #menuGametype="matMenu">
        <button mat-menu-item>RANKED</button>
        <button mat-menu-item disabled>CLASSIC (soon)</button>
        <button mat-menu-item disabled>RANKED + CLASSIC (soon)</button>
      </mat-menu>
      <button mat-stroked-button [mat-menu-trigger-for]="menuRank">BRONZE +</button>
      <mat-menu #menuRank="matMenu">
        <button mat-menu-item>BRONZE +</button>
        <button mat-menu-item disabled>SILVER + (soon)</button>
        <button mat-menu-item disabled>GOLD + (soon)</button>
        <button mat-menu-item disabled>PLATINUM + (soon)</button>
        <button mat-menu-item disabled>DIAMOND + (soon)</button>
        <button mat-menu-item disabled>EXPERT + (soon)</button>
        <button mat-menu-item disabled>MASTER + (soon)</button>
        <button mat-menu-item disabled>SENIOR MASTER + (soon)</button>
        <button mat-menu-item disabled>GRAND MASTER + (soon)</button>
        <button mat-menu-item disabled>LEGEND + (soon)</button>
      </mat-menu>
    </div>
</section>
