<mat-spinner color="accent" class="spinner" *ngIf="loadingStats"></mat-spinner>
<div *ngIf="loadingError" class="div__not-enough-data">Not enough Data</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort [hidden]="loadingStats || loadingError">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef scope="col"> #</th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="legionSpell">
    <th mat-header-cell *matHeaderCellDef scope="col" mat-sort-header> Legion Spell</th>
    <td mat-cell *matCellDef="let element">
      <section class="section__unit-information">
                <img [src]="legionCdnUrl + getSpell(element.legionSpell)?.iconPath" class="unit-icon mat-elevation-z10" alt=""/>
        <div>
          <span class="mat-subheading-2">{{element.legionSpell}}<br/></span>
        </div>
      </section>
    </td>
  </ng-container>

  <ng-container matColumnDef="pickRate">
    <th mat-header-cell *matHeaderCellDef scope="col" mat-sort-header> Pick Rate</th>
    <td mat-cell *matCellDef="let element" style="width: 20%">
      <div class="progress-bar-container">
        <app-progress-bar [value]="element.pickRate * 100" color="#2796BC"></app-progress-bar>
      </div>
      {{element.pickRate | percent:'1.2'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="winRate">
    <th mat-header-cell *matHeaderCellDef scope="col" mat-sort-header> Win Rate</th>
    <td mat-cell *matCellDef="let element" style="width: 20%">
      <div class="progress-bar-container">
        <app-progress-bar [value]="element.winRate * 100" color="#3CBC8D"></app-progress-bar>
      </div>
      {{element.winRate | percent:'1.2'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
