<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0"
                       (opened)="panelOpenState = true"
                       (afterCollapse)="panelOpenState = false">
    <mat-expansion-panel-header>
      <app-match-history-summary [entry]="entry"></app-match-history-summary>
    </mat-expansion-panel-header>

    <ng-container *ngIf="panelOpenState">
      <mat-tab-group [dynamicHeight]='true'>
        <mat-tab label="MATCH DETAILS">
          <app-match-details [entry]="entry"></app-match-details>
        </mat-tab>
        <mat-tab label="BUILDS">
          <app-match-builds [entry]="entry"></app-match-builds>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
