.spacer {
  height: 8px;
}

.mat-expansion-panel-header {
  height: auto;
}

::ng-deep .mat-content {
  display: block!important;
}

.mat-expansion-panel {
  background: inherit;
}

::ng-deep .mat-tab-group.mat-primary .mat-tab-label.cdk-keyboard-focused:not(.mat-tab-disabled) {
  background-color: rgba(255, 255, 255, 0)!important;
}

::ng-deep .mat-tab-label:focus:not(.mat-tab-disabled) {
  opacity: 0.6!important;
}
