<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0" (keyup)="changeSelectedWave($event)"
                       (opened)="panelOpenState = true"
                       (afterCollapse)="panelOpenState = false">
    <mat-expansion-panel-header>
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="container">
        <div fxFlex="12">
          <span class="mat-title">{{entry.queueType}}</span><br/>
          <span class="mat-subheading-2">{{entry.date | timeago}}</span><br/>
          <span class="mat-subheading-2">Wave {{entry.endingWave}}</span>
        </div>
        <div fxFlex><img class="icon-large mat-elevation-z10"
                         [src]="legionCdnUrl + 'icons/' + getPlayer()?.firstWaveFighters.split(',')[0].replaceAll(' ', '') + '.png'" alt=""/>
        </div>
        <div fxFlex>
          <span
            [className]="'mat-headline ' + (getPlayer()?.gameResult || 'left')">{{getPlayer()?.gameResult || 'left' | titlecase}}
            <br/></span>
          <span class="mat-subheading-1">{{entry.gameLength * 1000 | date: 'mm:ss'}}</span>
        </div>
        <div fxFlex>
          <span class="mat-subheading-1"><img class="icon-small"
                                              src="../../../../../assets/Income.png" alt=""/>{{getPlayer()?.incomePerWave[entry.endingWave - 1]}}</span><br/>
          <div class="spacer"></div>
          <span class="mat-subheading-1"><img class="icon-small"
                                              src="../../../../../assets/Worker.png" alt=""/>{{getPlayer()?.workers}}</span>
        </div>
        <div fxFlex>
          <span class="mat-subheading-1"><img class="icon-small"
                                              src="../../../../../assets/Value.png" alt=""/>{{getPlayer()?.value}}</span><br/>
          <div class="spacer"></div>
          <span class="mat-subheading-1"><img class="icon-small"
                                              src="../../../../../assets/LeakRatio.png" alt=""/>{{getWavesLeakedCount(getPlayer()?.leaksPerWave)}}</span>
        </div>
        <div fxFlex>
          <span class="mat-subheading-1"><img class="icon-small"
                                              src="../../../../../assets/MercenariesSent.png" alt=""/>{{getMercenaryValue(getPlayer()?.mercenariesSentPerWave)}}</span><br/>
          <div class="spacer"></div>
          <span class="mat-subheading-1"><img class="icon-small"
                                              src="../../../../../assets/MercenariesReceived.png" alt=""/>{{getMercenaryValue(getPlayer()?.mercenariesReceivedPerWave)}}</span>
        </div>
        <div fxFlex="15">
          <span
            [className]="'mat-subheading-2 ' + entry.playersData[0]?.gameResult">{{entry.playersData[0]?.gameResult | titlecase}}</span><br/>
          <ng-container
            *ngFor="let playerData of entry.playersData.slice(0, entry.playersData.length / 2); let i = index">
            <span class="mat-subheading-1">{{playerData.playerName}}</span><br/>
          </ng-container>
        </div>
        <div fxFlex="15">
          <span
            [className]="'mat-subheading-2 ' + entry.playersData[entry.playersData.length - 1]?.gameResult">{{entry.playersData[entry.playersData.length - 1]?.gameResult | titlecase}}</span><br/>
          <ng-container *ngFor="let playerData of entry.playersData.slice(entry.playersData.length / 2); let i = index">
            <span class="mat-subheading-1">{{playerData.playerName}}</span><br/>
          </ng-container>
        </div>
      </div>
    </mat-expansion-panel-header>

    <ng-container *ngIf="panelOpenState">
      <mat-tab-group>
        <mat-tab label="OVERVIEW">
          <table mat-table [dataSource]="entry.playersData">
            <caption class="caption__match-details mat-title">Match summary</caption>
            <ng-container matColumnDef="result">
              <th mat-header-cell *matHeaderCellDef scope="col"></th>
              <td mat-cell *matCellDef="let element; let i = index" [class]="(element.gameResult || 'left')"><span
                class="mat-title"> {{element.gameResult || 'left' | titlecase}} </span></td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef scope="col"></th>
              <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
            </ng-container>

            <ng-container matColumnDef="opening">
              <th mat-header-cell *matHeaderCellDef scope="col"> Opening</th>
              <td mat-cell *matCellDef="let element"><img class="icon-medium mat-elevation-z10"
                                                          [src]="legionCdnUrl + 'icons/' + element.firstWaveFighters.split(',')[0].replaceAll(' ', '') + '.png'" alt=""/>
              </td>
            </ng-container>

            <ng-container matColumnDef="fighters">
              <th mat-header-cell *matHeaderCellDef scope="col"> Value</th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <ng-container matColumnDef="leaks">
              <th mat-header-cell *matHeaderCellDef scope="col"> Waves<br/>leaked</th>
              <td mat-cell *matCellDef="let element"> {{getWavesLeakedCount(element.leaksPerWave)}} </td>
            </ng-container>

            <ng-container matColumnDef="workers">
              <th mat-header-cell *matHeaderCellDef scope="col"> Workers</th>
              <td mat-cell *matCellDef="let element"> {{element.workers}} </td>
            </ng-container>

            <ng-container matColumnDef="income">
              <th mat-header-cell *matHeaderCellDef scope="col"> Income</th>
              <td mat-cell *matCellDef="let element"> {{element.incomePerWave[entry.endingWave - 1]}} </td>
            </ng-container>

            <ng-container matColumnDef="sent">
              <th mat-header-cell *matHeaderCellDef scope="col"> Sent</th>
              <td mat-cell *matCellDef="let element"> {{getMercenaryValue(element.mercenariesSentPerWave)}} </td>
            </ng-container>

            <ng-container matColumnDef="received">
              <th mat-header-cell *matHeaderCellDef scope="col"> Received</th>
              <td mat-cell *matCellDef="let element"> {{getMercenaryValue(element.mercenariesReceivedPerWave)}} </td>
            </ng-container>

            <ng-container matColumnDef="spell">
              <th mat-header-cell *matHeaderCellDef scope="col"> Spell</th>
              <td mat-cell *matCellDef="let element"><img class="icon-medium mat-elevation-z10"
                                                          [src]="getSpellIcon(element.chosenSpell)" alt=""/><br/><span>{{element.chosenSpell}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="legion">
              <th mat-header-cell *matHeaderCellDef scope="col"> Legion</th>
              <td mat-cell *matCellDef="let element"> {{element.legion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
        <mat-tab label="BUILDS">
          <div class="wave-list">
            <mat-chip-list>
              <mat-chip *ngFor="let build of entry.playersData[0].buildPerWave; let i = index"
                        (click)="selectedWave = i"
                        [class.selected]="selectedWave === i">{{i + 1}}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="grid-container">
            <div class="grid-content" *ngFor="let playerData of entry.playersData">
              <span class="name mat-subheading-2 text-center">{{playerData.playerName}}</span>
              <section class="margin-bottom text-center">
                  <span class="margin-right"><img class="icon-small"
                                                  src="../../../../../assets/Worker.png" alt=""/>{{playerData.workersPerWave[selectedWave]}}
                    (+{{playerData.workersPerWave[selectedWave] - (playerData.workersPerWave[selectedWave - 1] || 0)}}
                    )</span>
                  <span><img class="icon-small" src="../../../../../assets/Income.png" alt=""/>{{playerData.incomePerWave[selectedWave]}}
                    (+{{playerData.incomePerWave[selectedWave] - (playerData.incomePerWave[selectedWave - 1] || 0)}})
                  </span>
                </section>
              <app-game-build [units]="playerData.buildPerWave[selectedWave]"
                              (keyup)="changeSelectedWave($event)"></app-game-build>
              <div>
                <span class="mat-subheading-2 text-mercenaries-received text-center">Mercenaries received</span>
                <div class="center">
                  <img class="icon-mercenary" [src]="getMercenaryIcon(mercenary)"
                       *ngFor="let mercenary of playerData.mercenariesReceivedPerWave[selectedWave]" alt=""/>
                </div>
              </div>
              <article>
                <span class="mat-subheading-2 text-mercenaries-received text-center">King upgrades received</span>
                <div class="center">
                  <img class="icon-mercenary" [src]="getKingUpgradeIcon(kingUpgrade)"
                       *ngFor="let kingUpgrade of playerData.opponentKingUpgradesPerWave[selectedWave]" alt=""/>
                </div>
              </article>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
