<mat-card class="mat-elevation-z10 recent-games">
  <mat-card-header>
    <mat-card-title>Recent games</mat-card-title>
  </mat-card-header>
  <mat-card-content infinite-scroll
                    [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
                    [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
    <ng-container *ngFor="let playerMatchHistoryEntry of playerMatchHistory">
      <app-match-history-entry [entry]="playerMatchHistoryEntry"></app-match-history-entry>
      <mat-divider></mat-divider>
    </ng-container>
    <div *ngIf="isMatchHistoryLoading">
      <mat-spinner color="accent" class="loading-spinner"></mat-spinner>
    </div>
    <div *ngIf="!isMatchHistoryLoading && (!playerMatchHistory || playerMatchHistory?.length === 0)">
      <span class="mat-headline no-matches">No recent matches</span>
    </div>
  </mat-card-content>
</mat-card>
