.no-matches {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.mat-divider:last-child {
  display: none;
}

.loading-spinner {
  margin: auto;
}

::ng-deep .mat-ink-bar {
  background-color: white !important;
}
