<mat-spinner color="accent" class="spinner" *ngIf="loadingStats"></mat-spinner>
<div *ngIf="loadingError" class="div__not-enough-data">Not enough Data</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort [hidden]="loadingStats || loadingError">

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef scope="col"> #</th>
    <td mat-cell *matCellDef="let element"> {{element.endingWave}} </td>
  </ng-container>

  <ng-container matColumnDef="wave">
    <th mat-header-cell *matHeaderCellDef scope="col" mat-sort-header> Wave</th>
    <td mat-cell *matCellDef="let element">
      <section class="section__unit-information">
        <img [src]="legionCdnUrl + getWave(element.endingWave)?.iconPath" class="unit-icon mat-elevation-z10" alt=""/>
        <div>
          <div>
            <span class="mat-subheading-2">{{getWave(element.wave).name}}<br/></span>
            <span class="mat-subheading-1 attack-mode">{{element.wave}}</span>
          </div>
        </div>
      </section>
    </td>
  </ng-container>

  <ng-container matColumnDef="endingRate">
    <th mat-header-cell *matHeaderCellDef scope="col" mat-sort-header> Ending Rate</th>
    <td mat-cell *matCellDef="let element" style="width: 20%">
      <div class="progress-bar-container">
        <app-progress-bar [value]="element.endingRate * 100" color="#2796BC"></app-progress-bar>
      </div>
      {{element.endingRate | percent:'1.2'}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
