<form [formGroup]="formSearchPlayer" (keydown)="onKey($event)" class="center-h center-v width-50">
  <div class="support-text"><mat-icon>favorite</mat-icon><span>Support LegionLord with Creator Code "Alpacca" in LTD 2</span><mat-icon>favorite</mat-icon></div>
  <mat-form-field appearance="outline" class="width-100 search-player-form-field">
    <mat-label>Search a player name</mat-label>
    <input matInput autocomplete="off" formControlName="playerName">
    <mat-icon matSuffix (click)="submit()" class="search-icon">search</mat-icon>
  </mat-form-field>
  <mat-spinner color="accent" class="spinner" *ngIf="loadingPlayer"></mat-spinner>
</form>
