.search-icon {
  margin-right: 8px;
  cursor: pointer;
}

.search-player-form-field {
  font-size: 1.2rem;
}

.spinner {
  position: fixed;
  left: calc(50% - 50px);
}

.not-found {
  width: 100%;
  top: -27px;
}
