// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'node_modules/@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$legion-lord-dark-palette: (
  50: #e7e6ed,
  100: #c3c0d3,
  200: #9d98b5,
  300: #797298,
  400: #605583,
  500: #4a3970,
  600: #443268,
  700: #3c295d,
  800: #342151,
  900: #25123b,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$legion-lord-frontend-primary: mat.define-palette($legion-lord-dark-palette, 900);
$legion-lord-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$legion-lord-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$legion-lord-frontend-theme: mat.define-dark-theme((
  color: (
    primary: $legion-lord-frontend-primary,
    accent: $legion-lord-frontend-accent,
    warn: $legion-lord-frontend-warn,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($legion-lord-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

html {
  background: url(/assets/thumb-1920-1180354.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  color: mat.get-contrast-color-from-palette($legion-lord-dark-palette, 900)
}

.mat-card {
  background: mat.get-color-from-palette($legion-lord-dark-palette, 900);
  color: mat.get-contrast-color-from-palette($legion-lord-dark-palette, 900)
}

.mat-input-element {
  caret-color: white;
}

.mat-form-field-outline-thick {
  color: rgba(255, 255, 255, 0.3)!important;
}

.mat-form-field-label {
  color: rgba(255, 255, 255, 0.7)!important;
}


// utilities

.spacer {
  flex: 1 1 auto;
}

.center-h {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-v {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.no-padding {
  padding: 0!important;
}
